<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="ConnString" connectionString="Data Source=DESKTOP-M7H8L99\MSSQLSERVER03;Initial Catalog=SupermarketDB;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>